{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign is</h1>
    {{ form(form) }}
</form>
{% endblock %}
